name: Build

on:
  push:
    branches:
      - "develop"
      - "release/*"
      - "support/*"
    paths-ignore:
      - "README.adoc"
      - "CONTRIBUTING.adoc"
      - "LICENSE"
      - ".github/**"
      - "!.github/workflows/build.yml"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 17
          cache: "maven"

      - name: Configure Maven Settings
        uses: bonitasoft/maven-settings-action@v1
        with:
          keeper-secret-config: ${{ secrets.KSM_CONFIG }}

      - name: Build and test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
        run: ./mvnw -B -ntp verify

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: always() # always run even if the previous step fails
        with:
          report_paths: "**/target/*-reports/TEST-*.xml"

      - name: Publish Snapshots to Maven Central
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
        run: ./mvnw -B -ntp deploy -DskipTests
