
name: Publish

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to publish"
        type: string
        required: true
        default: "x.y.z"

jobs:
  build:
    name: Publication pipeline
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.tag }}

      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Configure Maven Settings
        uses: bonitasoft/maven-settings-action@v1
        with:
          keeper-secret-config: ${{ secrets.KSM_CONFIG }}

      - name: Publish to Maven Central
        run: ./mvnw -ntp -B deploy -Prelease -DskipTests
