name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release (leave empty to use pom version)
        type: string
        default: ''
        required: false
      nextVersion:
        description: 'Next development version (leave empty to use default version incrementation policy)'
        type: string
        required: false
        default: ''
      skipMergeReleaseInMain:
        description: 'Whether release branch merge should be skip into main (major/minor version only should be merged)'
        type: boolean
        required: false
        default: false

jobs:
  build:
    name: Release pipeline
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - uses: bonitasoft/maven-settings-action@v1
        with:
          keeper-secret-config: ${{ secrets.KSM_CONFIG }}

      - uses: bonitasoft/git-setup-action@v1
        with:
          keeper-secret-config: ${{ secrets.KSM_CONFIG }}

      - name: Create Release
        run: ./mvnw -ntp -B -Dstyle.color=always gitflow:release -Dargline="-ntp -B" -Prelease -DdevelopmentVersion=${{ github.event.inputs.nextVersion }} -DreleaseVersion=${{ github.event.inputs.version }} -DskipReleaseMergeProdBranch=${{ github.event.inputs.skipMergeReleaseInMain }} -Dverbose

